/*  ABOUT PAGE */

.about-page {
  max-width: 60rem;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 4rem;
  font-family: 'Arial';
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  color: #5592bc;
}

.top {
  grid-column: 1 / span 3;
  border-radius: 0.5rem;
}

.title {
  font-family: 'archisticonormal';
  font-size: 1.3rem;
  font-weight: 100;
  color: #5592bc;
  margin: 0;
  text-align: center;
}

.text {
  color: #5592bc;
  text-align: center;
  width: 70%;
  margin: 1.5rem auto;
}

.intro {
  text-align: left;
  grid-column: 2 / span 2;
  padding-right: 4rem;
  
}

.intro ul {
  color: #ACCBE1;
}

.description {
  grid-column: 2 / span 2;
  border-radius: 0.5rem;
  margin: auto;
  padding-right: 4rem;
}

.description .title {
  text-align: left;
}

.image {
  width: 10rem;
  height: 10rem;
  margin: 1.5rem auto;
  text-align: center;
}

.image.bottom p {
  margin: 0;
  margin-top: -2rem;
}

.bottom-image {
  border: dashed 0.2rem  #ffc0cb70;
  padding: 1rem;
  border-radius: 50%;
}

img.about-image {
  width: 6.5rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
