.gallery-page {
  justify-content: center;
  padding: 2rem;
  padding-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 5rem);
  grid-gap: 0.5rem;
  grid-auto-rows: 5rem;
  grid-auto-flow: dense;
}

.project-title {
  color: #5592bc;
  padding: 0.3rem;
  font-size: 1.3rem;
  font-weight: 100;
  margin: 2rem 0 0.2rem 0;
  cursor: pointer;
}

.project-title:hover {
  color: #ACCBE1;
}

.project-description {
  font-family: 'Ariel';
  font-size: 0.8rem;
  color: #5592bc;
  width: 50%;
  margin: 0 auto;
}

.gallery-images {
  grid-template-columns: 1;
  grid-template-rows: 1;
  grid-row: span 3;
  grid-column: span 3;
  text-align: center;
  border-radius: 0.5rem;
}

@media (max-width: 450px) {
  .gallery-page {
    padding: 0.5rem;
    padding-top: 4rem;
  }
  .project-title {
    font-size: 1rem;
  }
  .project-description {
    display: none;
  }
  .gallery-images {
    grid-row: span 2;
    grid-column: span 2;
  }
}

/* GALLERY RANDOM */

.gallery-images.p0 {
  background-color: #ffc0cb70;
  grid-row: span 2;
  grid-column: span 2;
}

.gallery-images.p1 {
  background-color: #8EDCE670;
  grid-row: span 1;
  grid-column: span 3;
}

.gallery-images.p2 {
  background-color: #97D2FB70;
  grid-row: span 3;
  grid-column: span 3;
}

.gallery-images.p3 {
  background-color: #ACCBE170;
  grid-column: span 3;
  grid-row: span 2;
}

.gallery-images.p4 {
  background-color: #C9F0FF70;
  grid-column: span 4;
  grid-row: span 4;
}

/* .gallery-image {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
} */

/*  GALLERY FIXED */

.gallery-images {
  background-color: #ACCBE120;
  border: 4px dashed #ACCBE160;
}

 .gallery-images.a .gallery-image {
  position: relative;
  top: 1rem;
}

img.gallery-image {
  margin-top: 0.5rem;
  width: 5.5rem;
}

@media (max-width: 450px) {
  img.gallery-image {
    margin-top: 1rem;
    width: 3.5rem;
  }
}
